<mat-form-field>
  <mat-label>{{ "filter.text" | translate }}</mat-label>
  <input
    matInput
    type="text"
    [(ngModel)]="filterValue"
    (input)="onSearchTextChange($event)"
  />
  <mat-icon matPrefix class="my-icon">search</mat-icon>
  @if (filterValue) {
    <button
      matSuffix
      [matTooltip]="'filter.clear' | translate"
      mat-icon-button
      attr.aria-label="{{ 'filter.clear' | translate }}"
      (click)="clearText()"
    >
      <mat-icon>close</mat-icon>
    </button>
  }
</mat-form-field>
