<app-add-button [routerLink]="route" [tooltipText]="tooltipAdd" />

<div class="options">
  <app-filter
    [filterKey]="filterKey"
    (filterText)="applyFilter($event)"
  ></app-filter>
  <app-view-mode [options]="view" (mode)="applyView($event)"></app-view-mode>
</div>

@switch (view.mode) {
  @case ("table") {
    <mat-card>
      <mat-card-content class="no-padding">
        <app-index-list
          [fields]="fields"
          [actions]="actions"
          [dataSource]="dataSource()"
          (actionEvent)="actionEvent($event)"
        ></app-index-list>
      </mat-card-content>
    </mat-card>
  }

  @case ("grid") {
    <app-index-grid
      [fields]="fields"
      [actions]="actions"
      [dataSource]="dataSource()"
      (actionEvent)="actionEvent($event)"
    ></app-index-grid>
  }
}

<br />
<br />
<br />
