<div ngClass.gt-sm="mat-elevation-z8" >
    
    <mat-table [dataSource]="dataSource()" ngClass="table" ngClass.lt-md="card">

        <ng-container matColumnDef="superhero">
            <mat-header-cell *matHeaderCellDef [style.flex]="'1'">Heroe</mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="Nº Episodio" [style.flex]="'1'">{{ element.superhero }}</mat-cell>
        </ng-container>

        <ng-container matColumnDef="publisher">
            <mat-header-cell *matHeaderCellDef [style.flex]="'2'">Editorial</mat-header-cell>
            <mat-cell *matCellDef="let element" data-label="Fecha Emisión" [style.flex]="'2'">{{ element.publisher }}</mat-cell>
        </ng-container>
        
        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
    </mat-table>
    <!--
    <mat-paginator [length]="info?.count" [hidePageSize]="true" [pageSizeOptions]="[20]" showFirstLastButtons (page)="onPageChange($event)"></mat-paginator>
    -->
</div>