<mat-card>
  <mat-card-content>
    <form [formGroup]="heroForm" (ngSubmit)="onSubmit()">
      <mat-form-field>
        <mat-label>{{ "features.heroes.fields.id" | translate }}</mat-label>
        <input matInput type="text" formControlName="id" />
        @if (getField["id"].hasError("required")) {
          <mat-error>{{ "features.errors.required" | translate }}</mat-error>
        } @else if (getField["id"].hasError("minlength")) {
          <mat-error>{{
            "features.errors.min" | translate: { min: getField["id"].getError('minlength').requiredLength}
          }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{ "features.heroes.fields.name" | translate }}</mat-label>
        <input matInput type="text" formControlName="superhero" />
        @if (getField["superhero"].hasError("required")) {
          <mat-error>{{ "features.errors.required" | translate }}</mat-error>
        } @else if (getField["superhero"].hasError("minlength")) {
          <mat-error>{{
            "features.errors.min" | translate: { min: getField["superhero"].getError('minlength').requiredLength}
          }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{
          "features.heroes.fields.alter_ego" | translate
        }}</mat-label>
        <input matInput type="text" formControlName="alter_ego" />
        @if (getField["alter_ego"].hasError("required")) {
          <mat-error>{{ "features.errors.required" | translate }}</mat-error>
        } @else if (getField["alter_ego"].hasError("minlength")) {
          <mat-error>{{
            "features.errors.min" | translate:{ min: getField["alter_ego"].getError('minlength').requiredLength}
          }}</mat-error>
        }
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{
          "features.heroes.fields.publisher" | translate
        }}</mat-label>
        <mat-select formControlName="publisher">
          <mat-option
            *ngFor="let publisher of publishers"
            [value]="publisher"
            >{{ publisher }}</mat-option
          >
        </mat-select>
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{
          "features.heroes.fields.first_appearance" | translate
        }}</mat-label>
        <input matInput type="text" formControlName="first_appearance" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{
          "features.heroes.fields.characters" | translate
        }}</mat-label>
        <input matInput type="text" formControlName="characters" />
      </mat-form-field>

      <mat-form-field>
        <mat-label>{{
          "features.heroes.fields.description" | translate
        }}</mat-label>
        <textarea
          matInput
          cdkTextareaAutosize
          formControlName="description"
        ></textarea>
      </mat-form-field>

      <button
        mat-raised-button
        color="primary"
        ype="submit"
        [disabled]="!heroForm.valid"
      >
        {{ "features.actions.submit" | translate }}
      </button>
    </form>
  </mat-card-content>
</mat-card>
