<mat-table [dataSource]="dataSource">
  @for (field of fields; track field) {
    <ng-container [matColumnDef]="field.name">
      <mat-header-cell *matHeaderCellDef [style.flex]="field.flex">
        <b>{{ field.label | translate}}</b>
      </mat-header-cell>
      <mat-cell
        *matCellDef="let element"
        [attr.data-label]="field.label"
        [style.flex]="field.flex"
      >
        {{
          field.titlecase
            ? (element[field.name] | titlecase)
            : element[field.name]
        }}
      </mat-cell>
    </ng-container>
  }

  <ng-container matColumnDef="actions">
    <mat-header-cell *matHeaderCellDef [style.flex]="'1'"></mat-header-cell>
    <mat-cell *matCellDef="let element" [style.flex]="'1'">
      @for (action of actions; track action) {
        <button
          mat-icon-button
          (click)="onClickElement(action.name, element.id)"
          [matTooltip]="action.label | translate"
        >
          <mat-icon>{{ action.name }}</mat-icon>
        </button>
      }
    </mat-cell>
  </ng-container>

  <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
  <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>

  <div class="table-emtpy" *matNoDataRow>
    <p>{{ "filter.empty" | translate }}</p>
  </div>
</mat-table>
