<section>
  <div class="container">
    <img
      src="./assets/images/superheroes.png"
      alt="SuperHeroes"
      class="centered"
    />
  </div>
  <div class="container text-center subtittle">
    <p
      class="h1 superheroes-font"
      [innerHTML]="
        'features.home.creator' | translate: { name: 'Miguel Angel Cid Garcia' }
      "
    ></p>
  </div>
  <div class="container text-center doc-title">
    <p class="h1 superheroes-font">{{ "features.home.title" | translate }}</p>
  </div>
  <div class="container text-center">
    {{ "features.home.subtitle" | translate }}
  </div>
</section>
<section>
  <div class="container-doc">
    <mat-accordion>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ "features.home.functionality.title" | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div [innerHTML]="'features.home.functionality.text' | translate"></div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ "features.home.envvar.title" | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div [innerHTML]="'features.home.envvar.text' | translate"></div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ "features.home.structure.title" | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div [innerHTML]="'features.home.structure.text' | translate"></div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ "features.home.services.title" | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div [innerHTML]="'features.home.services.text' | translate"></div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ "features.home.languages.title" | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div [innerHTML]="'features.home.languages.text' | translate"></div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ "features.home.test.title" | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div [innerHTML]="'features.home.test.text' | translate"></div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ "features.home.eslint.title" | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div [innerHTML]="'features.home.eslint.text' | translate"></div>
      </mat-expansion-panel>
      <mat-expansion-panel>
        <mat-expansion-panel-header>
          <mat-panel-title>
            {{ "features.home.todo.title" | translate }}
          </mat-panel-title>
        </mat-expansion-panel-header>
        <div [innerHTML]="'features.home.todo.text' | translate"></div>
      </mat-expansion-panel>
    </mat-accordion>
  </div>
</section>
