@import "../node_modules/@angular/material/prebuilt-themes/indigo-pink.css";

html, body { 
    height: 100%; 
}

body { 
    margin: 0; 
    font-family: Roboto, "Helvetica Neue", sans-serif;  
    overflow: hidden;
}

section{
    padding: 1rem 0px;
}

.myPanelClass{
    margin-top: -21px !important; 
    
    background-color: var(--mdc-theme-on-surface, #5d5d5d);

}