<nav aria-label="breadcrumb">
  <ol class="breadcrumb">
    @for (crumb of breadcrumbs; track crumb.label; let last = $last) {
      <li class="breadcrumb-item" [ngClass]="{ active: last }">
        @if (!last) {
          <a mat-button [routerLink]="crumb.url">{{ crumb.label | translate }}</a>
        } @else if(crumb.id) {
          <a mat-button [disabled]="true">{{ crumb.label | translate }}: {{ crumb.id }}</a>
        } @else {
          <a mat-button [disabled]="true">{{ crumb.label | translate }}</a>
        }
      </li>
    }
  </ol>
</nav>
